<%- include('./base/header.ejs')%>
    <div class="container">
        <div class="alert bg-success my-3">
            <h4 class="text-center text-white">Student has been added successfully</h4>
        </div>
    </div>

    <div class="container">
        <div class="text-center text-white">
            <a href="/" class="btn btn-danger">Back</a>

        </div>

    </div>

    <%- include('./base/footer.ejs')%>